.cart-page {
    text-align: center;
    padding: 60px;
    margin-top: 130px;
  }
  
  .cart-page h1 {
    font-family: var(--main-font);
    font-size: 32px;
    font-weight: 700;
    color: var(--black);
    line-height: 1.5; 
    letter-spacing: 0.2px;
    margin-bottom: 40px;
  }
  
  .cart-page p {
    margin-top: 20px;
    margin-bottom: 30px;
    font-family: var(--main-font);
    text-decoration: none;
    font-size: 16px;
    font-weight: 600 !important;
    line-height: 1.5; 
    letter-spacing: 0.2px;
    color: var(--medium-gray);

  }
  
  .catalog-link {
    font-family: var(--main-font);
    text-decoration: none;
    color: var(--black);
    font-size: 16px;
    font-weight: 600 !important;
    line-height: 1.5; 
    letter-spacing: 0.2px;
    text-decoration: none;
    transition: transform 0.3s ease;
  }
  
  .catalog-link:hover {
    transform: scale(1.1);
    text-decoration: none;
  }
  
  .cart-actions a {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    color: var(--black);
    border-radius: 5px;
    background-color: var(--white);
    border: 1px solid #000; 
    transition: background-color 0.3s, border-color 0.3s; 
  }
  
  .cart-actions a:hover {
    background-color: var(--black);
    color: var(--white);
  }
  

  