 /* Загальні стилі для фільтра */
.menu-filters {
    padding-left: 20px;  
    padding-right: 20px;
    margin-top: 115px;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

/* Стилі для фільтра справа */
.right-content {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 15px;
}

.sort {
    position: absolute;
    top: 80px; 
    right: 90px; 
    width: 180px;
    background: var(--white);
    border: 1px solid var(--black);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 5px 0;
    display: none; 
}

.sort.active {
    display: block;
}

.selected-option {
    padding-left: 10px;
    background: var(--white);
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
}

.sort-options {
    list-style: none;
    padding-left: 5px;
}

.sort-options li {
    padding: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background 0.3s;
}

.sort-options li:hover {
    background: var(--light-gray);
}

.show-filters-btn {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.show-filters-btn svg {
    fill: var(--black);
    transition: transform 0.3s;
}

.show-filters-btn:hover svg {
    transform: scale(1.1);
    fill: var(--medium-gray);
}

/* Стилі для фільтра зліва */

.filters {
    width: calc(25% - 20px); 
    margin-right: 20px; 
    float: left; 
}

.filter-group {
    margin-bottom: 20px;
    position: relative;
}

.filter-group label {
    font-size: 16px;
    line-height: 1;
    letter-spacing: 0.2px;
    color: var(--black);
    font-weight: 600;
    font-family: var(--main-font);
    display: block;
    margin-bottom: 10px;
}

.custom-select {
    position: relative;
    display: inline-block;
    width: 200px; 
}

.custom-select select {
    width: 100%;
    padding: 25px;
    font-size: 14px;
    font-family: var(--main-font);
    font-weight: 400;
    color: var(--black);
    background-color: var(--light-gray);
    border: 1px solid var(--black);
    border-radius: 5px;
    appearance: none; 
    cursor: pointer;
}

.custom-select select option {
    padding: 10px;
    font-size: 14px;
    background-color: var(--light-gray);
    color: var(--black);
}

option {
    font-size: 16px;
    line-height: 0.7;
    letter-spacing: 0.3px;
    color: var(--black);
    font-weight: 400;
    font-family: var(--main-font);
    background-color: var(--white);
  }
  
option:hover {
    background-color: var(--white);
}
  
.custom-select-wrapper {
    position: relative;
    width: 100%;
}

.customs-select {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 20px 12px 14px;
    background-color: var(--white);
    font-size: 14px;
    color: var(--black);
    cursor: pointer;
    border: 1px solid var(--black);
    border-radius: 5px;
    box-sizing: border-box;
    line-height: 1.1;
}

.arrow-icon {
    transform: rotate(90deg);
    transition: transform 0.3s ease;
}

.custom-dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: var(--white); 
    border: 1px solid var(--black);
    border-radius: 5px;
    box-sizing: border-box;
    list-style: none;
    padding: 0;
    margin: 0;
    z-index: 10; 
    margin-top: 5px;
}

.custom-dropdown li {
    padding: 6px 12px;
    cursor: pointer;
    font-size: 14px;
    line-height: 1;
    letter-spacing: 0.2px;
    color: var(--black);
    font-weight: 400;
    font-family: var(--main-font);
}

.custom-dropdown li:hover {
    background-color: var(--light-gray);
}

.custom-select-wrapper.open .custom-dropdown {
    display: block;
}

.custom-select-wrapper.open .arrow-icon {
    transform: rotate(270deg); 
}

.price-inputs {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
    width: 100%; 
}
  
.price-from, .price-to {
    display: flex;
    align-items: center; 
    margin-bottom: 10px; 
    cursor: pointer;
}
  
.price-from label, .price-to label {
    margin-right: 5px;
    font-size: 14px;
    line-height: 1;
    letter-spacing: 0.3px;
    color: var(--main-text-color);
    font-weight: 400;
    font-family: var(--primary-font);
    text-align: right; 
    display: flex; 
    align-items: center; 
    margin-top: 10px;
 }
  
.price-from input, .price-to input {
    flex: 1;
    padding: 8px;
    font-size: 14px;
    line-height: 1;
    letter-spacing: 0.2px;
    color: var(--black);
    font-weight: 600;
    border: none; 
    outline: none; 
    box-sizing: border-box; 
    vertical-align: middle; 
}
  
.price-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%; 
}
  
.price-from svg, .price-to svg {
    margin-right: 10px;
}

.price-buttons button {
    padding: 8px 12px;
    background-color: var(--white);
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
}
  
.price-buttons button:hover {
    background-color: var(--white);
}
  
.filters form button {
    padding: 10px 15px;
    background-color: var(--white);
    color: var(--black);
    border: 1px solid var(--black); 
    border-radius: 5; 
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}
  
.filters form button:hover {
    background-color: var(--black);
    color: var(--white);
}
  
.filters form button:active {
    background-color: var(--black);
    color: var(--white);
}
  
.filters form button[type="submit"] {
    padding: 10px 15px;
    margin-top: 10px;
    font-size: 14px;
    line-height: 1;
    letter-spacing: 0.2px;
    color: var(--white);
    font-weight: 600;
    background-color: var(--black);
    border: 1px solid #000;
    border-radius: 5; 
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    width: 100%;
}
  
.filters form button[type="submit"]:hover {
    background-color: var(--light-gray);
    color: var(--black);
}


/* Стилі для карток товарів */
.product-list-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 40px;
    align-items: center;
}

.product-list {
    width: 100%;
}
  
.product-row {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; 
    justify-content: space-between; 
}
  
.product-item {
    position: relative; 
    flex: 0 0 calc(33.33% - 10px);
    text-align: center;
    margin-bottom: 30px;
    overflow: hidden;
}
  
.product-item img {
    width: 100%;
    height: 398px;
    object-fit: cover;
    display: block;
}

.product-item .image-wrapper {
    position: relative;
    width: 100%;
    height: 398px;
}

.product-item .image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 5px;
}

.product-item .image-wrapper::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0); 
    transition: background-color 0.3s ease-in-out;
}

.product-item:hover .image-wrapper::after {
    background-color: rgba(0, 0, 0, 0.5); 
}
  
.svg-row {
    position: absolute; 
    top: 5px;
    right: 5px;
    fill: none;
    stroke: var(--bg-color);
    stroke-width: 2px;
}
  
.svg-row:hover {
    cursor: pointer;
}
  
.title-row {
    font-size: 12px;
    text-align: left; 
    line-height: 1.1; 
    letter-spacing: 0.2px;
    color: var(--main-text-color);
    font-family: var(--primary-font);
    font-weight: 500;
    margin-top: 14px;
}
  
.caption-row {
    font-size: 14px;
    text-align: left; 
    line-height: 1.1; 
    letter-spacing: 0.2px;
    color: var(--main-text-color);
    font-family: var(--primary-font);
    padding-top: 5px;
    font-weight: 700;
}
  
.product-item button {
    display: block;
    width: 100%;
    padding: 10px 0;
    background-color: var(--main-text-color);
    color: var(--bg-color);
    border: none;
    border-radius: 0 0 4px 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}
  
.product-item button:hover {
    background-color: #333;
}
  
.pagination-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; 
}
  
.pagination {
    display: flex;
    gap: 15px;
    align-items: center;
}
  
.page-number {
    cursor: pointer;
    font-size: 18px; 
    line-height: 1.1; 
    letter-spacing: 0.2px;
    color: var(--main-text-color);
    font-family: var(--primary-font);
    font-weight: 500;
}
  
.page-number:hover {
    cursor: pointer;
    font-size: 16px; 
    line-height: 1.1; 
    letter-spacing: 0.2px;
    color: var(--dark-gray-color);
    font-family: var(--primary-font);
    font-weight: 400;
}
  
.viewed-products {
    text-align: center;
}
  
#show-more-btn {
    width: auto;
    padding: 15px 35px;
    background-color: var(--main-text-color);
    color: var(--bg-color);
    border: none;
    border-radius: none;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 0 auto; 
    display: block; 
    font-size: 14px;
    line-height: 1;
    letter-spacing: 0.3px;
    font-weight: 600;
    font-family: var(--primary-font);
}
  
#show-more-btn:hover {
    background-color: var(--bg-color);
    color: var(--main-text-color);
    border: 1px solid #000;
    border-radius: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}
  
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
  
input[type="number"] {
    -moz-animation: textfield;
}