.delivery-containerd {
    background-color: var(--white);
    border-radius: 5px;
    text-align: center;
    margin: 140px auto;
    padding: 0 60px; 
    max-width: 1300px; 
}

.delivery-cardd {
    background: var(--light-gray);
    padding: 20px;
    border-radius: 10px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    transition: transform 0.3s ease-in-out;
    position: relative;
    overflow: hidden;
    aspect-ratio: 3 / 4; 
    width: 100%;
}

.delivery-cardd:hover {
    background: var(--black);
    color: var(--white); 
}

.delivery-cardd h3,
.delivery-cardd p {
    transition: color 0.3s ease-in-out, opacity 0.3s ease-in-out;
    color: var(--white);
}

.delivery-cardd p {
    opacity: 0;
    color: var(--white);
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.2px; 
}

.delivery-cardd:hover p {
    opacity: 1;
}

.delivery-cardd:hover h3 {
    color: var(--white);
}

.delivery-containerd h2 {
    font-family: var(--main-font);
    font-size: 32px;
    font-weight: 700;
    color: var(--primary-color);
    text-align: left;
    margin-bottom: 10px;
}

.delivery-subtitled {
    font-family: var(--accent-font);
    color: var(--black);
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.2px;
    text-align: left;
    margin-top: 0 auto;
    margin-bottom: 30px;
}

.delivery-cardd h3 {
    font-family: var(--main-font);
    font-size: 20px;
    font-weight: 700;
    color: var(--black);
    line-height: 1.5;
    letter-spacing: 0.2px;
    margin-bottom: 12px;
    min-height: 40px;
  }
  
.delivery-gridd {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto;
    gap: 20px;
    margin: 0 auto;
    padding: 0; 
}

.delivery-cardd:nth-child(-n+4) {
    width: 100%; 
    height: auto;
}

.delivery-cardd:nth-child(5),
.delivery-cardd:nth-child(6) {
    width: 100%;
    height: 330px;
    grid-column: span 2; 
}

/* Адаптивність */
@media (max-width: 1200px) {
    .delivery-gridd {
        grid-template-columns: repeat(2, 1fr);
    }

    .delivery-cardd {
        width: 100%;
    }

    .delivery-cardd:nth-child(5),
    .delivery-cardd:nth-child(6) {
        grid-column: span 1; 
        height: 500px;
    }
}

@media (max-width: 768px) {
    .delivery-gridd {
        grid-template-columns: repeat(1, 1fr);
    }

    .delivery-cardd {
        width: 100%;
        height: auto;
    }
}
