@media (max-width: 768px) {
    /* Хедер */
    .icons .icon:not(#cart-icon) {
      display: none;
    }
  
    .logo-link {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      z-index: 1000;
    }

    .logo {
        font-size: 22px;
        font-weight: 800;
      }

    .burger {
      display: flex;
      flex-direction: column;
      gap: 5px;
      background: none;
      border: none;
      cursor: pointer;
      z-index: 1100;
    }
  
    .burger span {
      display: block;
      width: 22px;
      height: 1.5px;
      background-color: var(--black);
      border-radius:3px;
    }
  
    .header {
      padding: 15px 20px;
      justify-content: space-between;
      align-items: center;
      position: relative;
    }
  
    .icons {
      margin-left: auto;
    }

    .header.scrolled {
        background-color: var(--black);
        color: var(--white);
        padding: 15px 60px;
        border-radius: 5px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
        top: auto;
        bottom: 20px;
        position: fixed;
        left: 50%;
        transform: translateX(-50%); 
        width: calc(100% - 40px);
        height: 50px;
      }
      .header.scrolled .burger {
        position: absolute;
        left: 20px; 
        top: 50%; 
        transform: translateY(-50%); 
        z-index: 10; 
      }
      
      .header.scrolled .burger span {
        background-color: var(--white); 
      }
      
      .header.hidden {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
      }
      
      .header.scrolled .menu a {
        color: var(--white);
      }
      
      .header.scrolled .menu a:hover {
        color: var(--black); 
        background-color: var(--light-gray);
      }
      .header.scrolled .icon {
        position: absolute;
        top: 50%; 
        right: 20px; 
        transform: translateY(-50%); 
      }
      .header.scrolled .icon svg {
        fill: var(--white);
      }
  
    /* Меню бургер */
    nav {
      position: fixed;
      top: 0;
      left: -100%;
      height: 100%;
      width: 250px;
      background-color: var(--white);
      padding-top: 80px;
      transition: left 0.3s ease;
      z-index: 999;
    }
  
    nav.active {
      left: 0;
    }
  
    .menu {
      flex-direction: column;
      align-items: flex-start;
      gap: 20px;
      padding: 0 20px;
    }

    .cart-modal {
        top: 5px;
        right: 105px;
        padding: 10px 20px;

      }

/* Стилі для секції hero */
.image-slider {
    width: 100%;
    overflow: hidden;
    position: relative;
  }
  
  .slider-container {
    display: flex;
    width: 100%;
    transition: transform 2s ease-in-out;
    animation: slide 9s infinite ease-in-out;
  }
  
  .slide {
    flex: 0 0 100%;
    width: 100%;
    position: relative;
  }
  
  .slide img {
    width: 100%;
    height: 100vh; 
    object-fit: cover; 
  }
  
  @keyframes slide {
    0%, 33% { transform: translateX(0%); } 
    34%, 66% { transform: translateX(-100%); } 
    67%, 100% { transform: translateX(-200%); } 
  }
  
  .text-overlay {
    left: 10%; 
    top: 50%;
    transform: translateY(-70%);
  }

  .text-overlay h2 {
    font-size: 46px;
  }

  .text-overlay p {
    font-size: 18px; 
  }

  /* Стилі для секції з картками */

  .card-section {
    margin: 40px 20px; 
  }

  .section-p {
    font-size: 14px;
    margin-left: 20px; 
    margin-bottom: 5px !important;
  }

  .section-title {
    font-size: 34px; 
    margin-left: 20px;
    margin-bottom: 50px;
    width: auto; 
  }

  .card-container {
    display: flex;
    flex-direction: column; 
    gap: 15px; 
    padding: 0 20px; 
    margin-top: 20px;
  }

  .card {
    width: 100%; 
    text-align: center;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    cursor: pointer;
    display: block;
  }

  .card-title {
    font-size: 24px; 
    top: 10px;
    left: 10px;
    z-index: 2;
  }

  .card-img {
    width: 100%;
    height: auto;
    aspect-ratio: 3 / 4;
    object-fit: cover;
    border-radius: 5px;
    transition: filter 0.3s ease-in-out; 
  }

  .card::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    transition: bottom 0.3s ease-in-out;
    z-index: 1;
  }

  .card:hover::before {
    bottom: 0; 
  }

  .card:hover .card-img {
    filter: brightness(0.5); 
  }

  .card:hover .card-title {
    color: var(--light-gray); 
  }
  
  /* Секція новинки */

  .new-products {
    padding: 60px 20px 80px; 
    background-color: var(--light-gray);
    text-align: center;
  }

  .section-title {
    font-size: 24px; 
    font-weight: 700;
  }

  .slider {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    max-width: 100%;
    margin: 0 auto;
  }

  .slider-wrapper {
    overflow: hidden;
    width: 100%;
  }

  .slider-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }

  .product-card {
    position: relative;
    width: 80%; 
    margin: 0 auto;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    height: 300px; 
  }

  .product-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .product-info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background-color: rgba(0, 0, 0, 0.8);
    color: var(--white);
    padding: 15px;
    display: flex;
    justify-content: space-between; 
    align-items: flex-start;
    transition: background-color 0.3s ease-in-out;
  }

  .product-card:hover .product-info {
    background-color: transparent;
    color: var(--black); 
  }

  .product-title {
    font-family: var(--accent-font);
    font-size: 18px; 
    font-weight: 700;
    color: var(--white);
    margin: 0;
  }

  .product-price {
    font-family: var(--accent-font);
    font-size: 14px; 
    font-weight: 400;
    color: var(--white);
  }

  .button-container {
    position: absolute;
    bottom: 15px;
    right: 15px;
    z-index: 2;
  }

  .details-btn {
    background-color: var(--black);
    color: var(--white) !important;
    border: none;
    border-radius: 5px;
    padding: 8px 12px;
    font-size: 16px; 
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    text-decoration: none !important;
  }

  .slider-btn {
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    z-index: 1; 
  }
  
  .slider-btn svg {
    fill: var(--black);
    transition: fill 0.3s ease-in-out;
  }
  
  .slider-btn:hover svg {
    fill: var(--medium-gray);
  }
  
  .prev {
    left: 10px; 
  }
  
  .next {
    right: 10px; 
  }
  
  /* Секція переваги */
  .section-p-new {
    margin-left: 40px;
    margin-top: 20px;
    font-size: 14px;
  }

  .section-title-new {
    font-size: 34px; 
    margin-left: 40px;
    margin-bottom: 50px;
    max-width: 300px;
    word-wrap: break-word;
  }

  .card-container-new {
    display: flex;
    flex-direction: column; 
    gap: 15px; 
    padding: 0 20px; 
    margin-top: 20px;
  }

  .card-new {
    width: 100%; 
    padding: 20px; 
    aspect-ratio: 3 / 4;
  }

  .card-title-new {
    font-size: 24px; 
  }

  .card-desc-new {
    width: auto; 
    left: 10px;
    right: 10px;
    font-size: 14px; 
  }

   /* Секція спеціальні пропозиції */
   .special-offers {
    padding: 60px 20px 80px; 
    background-color: var(--light-gray);
    text-align: center;
  }

  .section-title {
    font-size: 24px; 
    font-weight: 700;
  }

  .special-slider {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    max-width: 100%;
    margin: 0 auto;
  }

  .special-slider-wrapper {
    overflow: hidden;
    width: 100%;
  }

  .special-slider-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }

  .special-product-card {
    position: relative;
    width: 80%; 
    margin: 0 auto;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    height: 300px; 
  }

  .special-product-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .special-product-info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background-color: rgba(0, 0, 0, 0.8);
    color: var(--white);
    padding: 15px;
    display: flex;
    justify-content: space-between; 
    align-items: flex-start;
    transition: background-color 0.3s ease-in-out;
  }

  .special-product-card:hover .special-product-info {
    background-color: transparent;
    color: var(--black); 
  }

  .special-product-title {
    font-family: var(--accent-font);
    font-size: 18px; 
    font-weight: 700;
    color: var(--white);
    margin: 0;
  }

  .special-product-price {
    font-family: var(--accent-font);
    font-size: 14px; 
    font-weight: 400;
    color: var(--white);
  }

  .special-button-container {
    position: absolute;
    bottom: 15px;
    right: 15px;
    z-index: 2;
  }

  .details-btn {
    background-color: var(--black);
    color: var(--white) !important;
    border: none;
    border-radius: 5px;
    padding: 8px 12px;
    font-size: 16px; 
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    text-decoration: none !important;
  }

  .slider-btn {
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    z-index: 1; 
  }
  
  .slider-btn svg {
    fill: var(--black);
    transition: fill 0.3s ease-in-out;
  }
  
  .slider-btn:hover svg {
    fill: var(--medium-gray);
  }
  
  .prev {
    left: 10px; 
  }
  
  .next {
    right: 10px; 
  }

  /* Секція відгуків */
  .reviews-section {
    padding: 60px 20px;
    height: auto; 
  }

  .reviews-wrapper {
    position: relative;
    width: 100%;
    height: auto;
  }

  .center-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    word-wrap: break-word;
    padding: 0 20px;
    width: 90%;
  }

  .main-text {
    font-size: 22px; 
    font-weight: bold;
    color: #333;
  }

  .review-card {
    width: 80%; 
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    position: absolute;
    transform: rotate(var(--rotation));
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .top-left { 
    top: 10%;
    left: 10%;
    --rotation: 5deg; 
  }

  .top-right { 
    top: 10%;
    right: 10%;
    --rotation: -5deg;

  }
  .bottom-left { 
    bottom: 10%;
    left: 10%;
    --rotation: -5deg; 
  }
  .bottom-right { 
    bottom: 10%;
    right: 10%;
    --rotation: 5deg; 
  }

  .reviews-section:hover .review-card {
    animation: none;
  }

  .review-text {
    margin-bottom: 8px;
    font-family: var(--accent-font);
    text-decoration: none;
    color: var(--black);
    font-size: 14px; 
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: 0.1px;
  }

  .review-author {
    font-family: var(--main-font);
    font-size: 18px;
    font-weight: 700;
    color: var(--medium-gray);
  }

  .review-card {
    position: relative;
    margin-bottom: 20px;
    width: 90%; 
    margin-left: auto;
    margin-right: auto;
  }

  .top-left, .top-right, .bottom-left, .bottom-right {
    position: relative;
    top: auto;
    left: 0;
    right: 0;
    transform: rotate(var(--rotation)); 
  }

/* Стилі для футера */
.footer-left {
    flex-direction: column;
    align-items: center;
    text-align: center;
}

  .footer-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-left, .footer-center, .footer-right {
    margin-bottom: 20px;
  }


/* Стилі для фільтрів */

.filters {
  position: fixed;
  top: 0;
  left: 0;
  width: 100% !important; /* Замість 100vw для мобільних пристроїв */
  height: 100%; /* 100% для мобільних */
  background-color: rgba(255, 255, 255, 0.9); /* Прозорий фон */
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Вирівнюємо вміст по верху */
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  margin: 0; /* Важливо, щоб не було зовнішніх відступів */
  padding: 60px; /* Теж важливо, щоб не було внутрішніх відступів */
  overflow-y: auto; /* Додаємо прокручування, якщо контент більше висоти екрану */
}

.filters.open {
  opacity: 1;
  visibility: visible;
}

/* Стилі для кнопки "Застосувати" */
.filters .apply-filters-btn {
  position: absolute;
  bottom: 60px;
  width: 80%;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 15px;
  background-color: var(--black);
  color: var(--white);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.filters .apply-filters-btn:hover {
  background-color: var(--light-gray);
  color: var(--black);
}


/* Стилі для груп фільтрів */
.filter-group {
    width: 100% !important; /* Встановлюємо ширину 100% */
    margin: 15px 0;
    font-size: 16px; /* Зменшуємо шрифт для мобільної версії */
}

/* Стилі для вибору фільтру */
.custom-select-wrapper {
    position: relative;
    width: 100%; /* Встановлюємо ширину на 100% */
}

.customs-select {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: var(--light-gray);
    border-radius: 5px;
    cursor: pointer;
}

.customs-select span {
    font-size: 14px;
}

.arrow-icon {
    width: 16px;
    height: 16px;
}

.custom-dropdown {
    display: none; /* Сховані за замовчуванням */
    position: absolute;
    top: 100%;
    left: 0;
    width: 100% !important;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-height: 200px;
    overflow-y: auto;
    z-index: 2000;
}

.custom-dropdown li {
    padding: 10px;
    cursor: pointer;
}

.custom-dropdown li:hover {
    background-color: var(--light-gray);
}

.custom-select-wrapper .customs-select:hover .custom-dropdown {
    display: block;
}

/* Вартість фільтра */
.price-from, .price-to {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.price-from input, .price-to input {
    width: 50%;
    padding: 5px;
    font-size: 14px;
}

.price-controls svg {
    cursor: pointer;
}

/* Кнопки фільтрів вартості */
.price-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 15px;
}

.price-buttons button {
    padding: 10px;
    background-color: var(--black);
    color: var(--white);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.price-buttons button:hover {
    background-color: var(--light-gray);
    color: var(--black);
}


}
  

 
  
  

  @media screen and (min-width: 769px) {
    .burger {
      display: none !important;
    }
  }