.modal-pers {
    display: none; 
    position: fixed; 
    z-index: 1000; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.5);
    display: flex; 
    align-items: center; 
    justify-content: center; 
  }
  
  
  .content-pers {
    background-color: var(--white); 
    border: 1px solid var(--medium-gray); 
    width: 80%; 
    max-width: 500px; 
    position: relative; 
    padding: 20px; 
    box-sizing: border-box; 
  }
  
  .close-btnn {
    background: none;
    border: none;
    cursor: pointer;
    position: absolute; 
    top: 15px;
    right: 20px; 
    z-index: 10;
    height: 20px;
    width: 20px;
    color: var(--black);
  }
  
  .close-btnn:hover {
  color: var(--medium-gray);
  }
  
  h2 {
    text-align: center; 
    margin-top: 25px;
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 1;
    letter-spacing: 0.2px;
    color: var(--black);
    font-weight: 600;
    font-family: var(--main-font);
  }
  
  .form-group {
    margin-bottom: 15px; 
    position: relative;
  }
  
  label {
    display: block; 
    margin-bottom: 5px; 
  }
  
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 15px; 
    margin: 0 0 5px 0; 
    display: inline-block;
    border: 1px solid var(--light-gray);
    box-sizing: border-box;
    background-color: var(--light-gray);
    border-radius: 5px;
  }
  
  input::placeholder {
    font-size: 14px;
    text-align: left; 
    line-height: 1.1; 
    letter-spacing: 0.2px;
    font-weight: 400px;
    color: var(--black);
    font-family: var(--main-font);
    font-weight: normal;
  }
  
  .toggle-password {
    position: absolute;
    top: 50%; 
    right: 10px; 
    transform: translateY(-50%); 
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1; 
    color: var(--black);
    transition: all 0.3s ease; 
  }
  
  .toggle-password:active svg path {
    fill: var(--white); 
    transition: all 0.3s ease;
  }
  
  .password-group input[type="password"] {
    padding-right: 40px; 
  }
  
  .forgot-password {
    text-align: right;
    font-size: 12px; 
    line-height: 1.1; 
    letter-spacing: 0.2px;
    color: var(--black);
    font-family: var(--main-font);
    font-weight: 400px;
    font-weight: normal;
    display: block; 
    width: 100%; 
    padding: 0; 
    margin-top: -5px;
    margin-bottom: 30px;
  }
  
  .login-btn,
  .register-btn,
  .facebook-login,
  .google-login {
    width: 100%;
    padding: 15px; 
    margin: 0 0 5px 0; 
    cursor: pointer; 
    display: inline-block; 
    border: none;
  }
  
  .login-btn {
    font-size: 16px;
    text-align: center; 
    line-height: 1.1; 
    letter-spacing: 0.2px;
    color: var(--black);
    font-family: var(--main-font);
    font-weight: 500 !important;
    background-color: var(--light-gray);
    border-radius: 5px;
  }
  
  .login-btn:hover {
    background-color: var(--black); 
    color: var(--white); 
  }
  
  .register-btn {
    font-size: 16px;
    text-align: center; 
    line-height: 1.1; 
    letter-spacing: 0.2px;
    color: var(--white);
    font-family: var(--main-font);
    font-weight: 500 !important;
    background-color: var(--black);
    border-radius: 5px;
  }
  
  .register-btn:hover {
    background-color: var(--light-gray);
    color: var(--black); 
  }
  
  .social-login {
    display: flex; 
    justify-content: space-between;
    margin-top: 30px; 
    gap: 5px;
  }
  
  .social-login button {
    padding: 20px 20px; 
    border-radius: 5px;
    cursor: pointer; 
  }
  
  .facebook-login {
    background-color: var(--medium-gray); 
    font-size: 14px;
    text-align: center; 
    line-height: 1; 
    letter-spacing: 0.2px;
    color: var(--bg-color);
    font-family: var(--main-font);
    font-weight: 400 !important;
  }

  .facebook-login:hover {
    background-color: var(--white);
    border: 1px solid var(--black);
  }
  
  .google-login {
    background-color: var(--medium-gray); 
    font-size: 14px;
    text-align: center; 
    line-height: 1; 
    letter-spacing: 0.2px;
    color: var(--bg-color);
    font-family: var(--main-font);
    font-weight: 400 !important;
  }

  .google-login:hover {
    background-color: var(--white);
    border: 1px solid var(--black);
  }

  .privacy-policy {
    text-align: right; 
    font-size: 12px; 
    line-height: 1.1; 
    letter-spacing: 0.2px;
    color: var(--dark-gray-color);
    font-family: var(--primary-font);
    font-weight: normal;
    margin-top: 15px;
    margin-bottom: 20px;
  }