.product-list-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 75%;
  padding-left: 10px;
  margin-bottom: 80px;
}

.product-page .right-content {
  display: none;
}

.product-cardg {
  position: relative;
  width: 100%;
  height: 530px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.product-gallery {
  position: relative;
  width: 100%;
  height: 100%;
}

.product-main-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.product-infog {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%; 
  background-color: rgba(0, 0, 0, 0.8);
  color: var(--white);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  align-items: flex-start;
  transition: background-color 0.3s ease-in-out;
}

.product-titleg,
.product-articleg,
.product-priceg {
  margin: 0;
  padding: 0;
}

.info-top {
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  width: 100%;
  position: relative; 
  top: 0;
  z-index: 1; 
  margin-bottom: 70px; 
}

.product-titleg {
  font-family: var(--accent-font);
  text-decoration: none;
  color: var(--white);
  font-size: 18px;
  font-weight: 700;
  line-height: 1.5; 
  letter-spacing: 0.2px;
  margin-bottom: 20px;
}

.product-priceg {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.5; 
  letter-spacing: 0.2px;
  color: var(--white);
}

.product-articleg {
  font-family: var(--main-font);
  font-size: 12px;
  color: var(--medium-gray);
  font-weight: 400;
  line-height: 1.5; 
  letter-spacing: 0.2px;
}

.product-cardg:hover .product-infog {
  background-color: transparent;
  color: var(--black); 
}

.product-descriptiong {
  font-family: var(--main-font);
  font-size: 12px;
  color: var(--medium-gray);
  font-weight: 400;
  line-height: 1.5; 
  letter-spacing: 0.2px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  margin-bottom: 5px;
}

.add-to-cartg {
  display: none;
  background-color: var(--black);
  color: var(--white);
  font-family: var(--main-font);
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.5; 
  letter-spacing: 0.2px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.add-to-cartg:hover {
  background-color: var(--medium-gray);
}

.product-cardg:hover .product-overlay {
  opacity: 0;
}

.product-cardg:hover .product-descriptiong {
  opacity: 1;
}

.product-cardg:hover .add-to-cartg {
  display: block;
}

/* Характеристики та відгук */

.product-details-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 160px; 
  margin-top: 30px;
  flex-wrap: wrap;
}

.product-characteristics,
.product-reviews {
  flex: 1;
  min-width: 300px; 
}

.product-characteristics {
  margin-top: 30px;
  margin-left: auto !important;
  align-items: flex-start !important; 
}

.characteristic {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.characteristic-label {
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0.3px;
  color: var(--black);
  font-weight: 600;
  font-family: var(--main-font);
}

.characteristic-value {
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0.3px;
  color: var(--dark-gray);
  font-weight: 400;
  font-family: var(--main-font);
}

.product-reviews {
  margin-top: 20px;
}

.product-reviews h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.review-form {
  display: flex;
  flex-direction: column;
}

.review-form textarea {
  padding: 10px;
  margin-bottom: 10px;
  resize: vertical;
  border: 1px solid #000;
  border-radius: 5; 
}

.review-form button {
  align-self: flex-start;
  padding: 10px 15px;
  margin-top: 10px;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.2px;
  color: var(--white);
  font-weight: 600;
  background-color: var(--black);
  border: 1px solid #000;
  border-radius: 5; 
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.review-form button:hover {
  background-color: var(--white);
  color: var(--black);
}


/* Схожі товари */
.related-products {
  width: 100%;
  margin-top: 40px;
  padding: 0;
}

.related-products h3 {
  font-size: 22px;
  color: var(--black);
  text-align: left;
  margin-bottom: 20px;
}

.related-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}

.related-item {
  flex: 1;
  max-width: calc(33.33% - 20px);
  aspect-ratio: 3 / 4;
  position: relative;
  overflow: hidden;
  border-radius: 6px;
  transition: transform 0.3s ease-in-out;
}

.related-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 6px;
  transition: filter 0.3s ease-in-out;
  cursor: pointer;
}

.related-item div {
  position: absolute;
  top: 20px; 
  left: 50%;
  transform: translateX(-50%);
  border-radius: 5px;
  padding: 10px 15px;
  font-family: var(--main-font);
  color: var(--black); 
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.2px;
  cursor: pointer;
  white-space: nowrap;
  transition: color 0.3s ease-in-out;
  z-index: 2;
}

.related-item:hover div {
  color: var(--white) !important; 
}

.related-item:hover img {
  filter: brightness(0.5);
}

.related-item::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -100%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  transition: bottom 0.3s ease-in-out;
  z-index: 0;
}

.related-item:hover::before {
  bottom: 0;
}

/* Доставка та оплата */
.delivery-container {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
  width: 100%;
  max-width: 1200px;
  margin: 5% auto;
  padding: 20px;
}

.delivery-text {
  align-self: flex-start; 
  width: 100%;
  max-width: 600px; 
}

.delivery-text h2 {
  font-family: var(--main-font);
  font-size: 32px;
  font-weight: 700;
  color: var(--black);
  line-height: 1.5;
  letter-spacing: 0.2px;
  margin-bottom: 10px;
  text-align: left;
}

.delivery-subtitle {
  font-family: var(--main-font);
  color: var(--black);
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.2px;
  text-align: left;
}

.delivery-grid {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
  width: 100%;
  height: 360px;
}

.delivery-card {
  position: absolute;
  width: 530px;
  height: 330px;
  background: var(--light-gray);
  border-radius: 15px;
  padding: 25px;
  text-align: left;
  box-shadow: 0px 15px 35px rgba(0, 0, 0, 0.12);
  transition: transform 0.5s ease-out, opacity 0.5s ease-out;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  opacity: 1;
  transform-origin: top center; 
  transform: rotate(-2deg); 
}

.delivery-card:nth-child(1) { z-index: 6; transform: translateY(0) rotate(-2deg); }
.delivery-card:nth-child(2) { z-index: 5; transform: translateY(15px) rotate(-4deg); }
.delivery-card:nth-child(3) { z-index: 4; transform: translateY(30px) rotate(-6deg); }
.delivery-card:nth-child(4) { z-index: 3; transform: translateY(45px) rotate(-8deg); }
.delivery-card:nth-child(5) { z-index: 2; transform: translateY(60px) rotate(-10deg); }
.delivery-card:nth-child(6) { z-index: 1; transform: translateY(75px) rotate(-12deg); }


.delivery-card h3 {
  font-family: var(--main-font);
  font-size: 20px;
  font-weight: 700;
  color: var(--black);
  line-height: 1.5;
  letter-spacing: 0.2px;
  margin-bottom: 12px;
}

.delivery-card p {
  font-size: 15px;
  font-weight: 400;
  color: var(--black);
  line-height: 1.5;
  letter-spacing: 0.2px;
}

.contact-info {
  display: inline-flex; 
  align-items: center; 
  gap: 10px; 
  font-size: 20px;
  margin-top: 0;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.contact-info h3 {
  font-family: var(--main-font);
  font-size: 20px;
  font-weight: 700;
  color: var(--black);
  line-height: 1.5;
  letter-spacing: 0.2px;
}
.contact-button {
  display: inline-flex; 
  align-items: center; 
  justify-content: center; 
  font-family: var(--main-font);
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0.2px;
  cursor: pointer;
}

.contact-button svg {
  margin-left: 1px; 
}

.contact-button:hover {
  fill: var(--medium-gray);
}
