.search-cont {
    margin-top: 150px;
    margin-bottom: 100px;
  }
  
  .search-container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
}

.search-input {
    width: 600px;
    padding: 15px 50px 15px 20px; 
    border: 2px solid var(--main-color); 
    border-radius: 5px;
    outline: none;
    background-color: var(--light-gray);
    color: var(--bg-color);
    font-size: 16px;
    box-sizing: border-box;
}

.search-icon {
  position: absolute;
  right: calc(50% - 270px); 
  top: 50%;
  transform: translateY(-50%);
  fill: var(--medium-gray);
  transition: fill 0.3s ease; 
}

.search-icon:hover {
  fill: var(--black);
}

  .search-input::placeholder {
    font-size: 16px;
    text-align: left;
    line-height: 1.1;
    letter-spacing: 0.2px;
    color: var(--bg-color);  
    font-family: var(--primary-font);
    font-weight: 500;
    opacity: 0.6;  
  }
  
.close-btnt {
    position: absolute;
    top: 100px;
    right: 55px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 10;
}
  

.close-btnt svg:hover {
    stroke: var(--medium-gray);
    fill: var(--medium-gray);
}