 /* Загальні стилі */

:root {
  --main-font: "Source Sans 3", sans-serif;
  --accent-font: "Bebas Neue", sans-serif;
  --white: #FFFFFF;
  --black: #000000;
  --dark-graphite: #212529;
  --light-gray: #F8F9FA;
  --medium-gray: #DEE2E6;
  --dark-gray: #6C757D;
}

body {
  overflow-x: hidden;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body.cursor-hidden {
  cursor: none; 
}

main {
  flex-grow: 1;
}
  
h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}
  
a {
  text-decoration: none; 
  outline: none; 
  border: none;
}

ul, li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
  
.link {
  text-decoration: none; 
}
  
.link a {
  display: inline-block; 
}
  
.link a:focus, .link a:hover {
  outline: none; 
  color: inherit; 
}
  
img {
  display: block; 
}
  
.icon {
  fill: currentColor; 
}
  
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.hidden {
  opacity: 0;
  pointer-events: none;
}

.container {
  padding: 0;
  margin: 0 40px;
  width: auto;
}

/* Стилі для хедера */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white);
  padding: 25px 60px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.logo {
  font-family: var(--main-font);
  font-size: 24px;
  font-weight: 800;
}

.logo-link {
  text-decoration: none; 
  color: inherit;
}

.menu {
  list-style: none;
  display: flex;
  gap: 10px;
  padding: 0;
  margin: 0;
}

.menu li {
  display: inline;
}

.menu a {
  font-family: var(--accent-font);
  text-decoration: none;
  color: var(--black);
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5; 
  letter-spacing: 0.2px;
  position: relative; 
  padding: 10px 15px; 
  transition: transform 0.3s ease, color 0.3s
}

.menu a::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--light-gray);
  border-radius: 5px; 
  transform: scaleY(0); 
  transform-origin: bottom;
  transition: transform 0.3s ease-in-out;
  z-index: -1;
}

.menu a:hover {
  color: var(--black); 
  background-color: var(--light-gray);
  transform: rotateX(15deg);
  border-radius: 5px;
}

.menu a:hover::before {
  transform: scaleY(1);
}

.icons {
  display: flex;
  gap: 20px;
}

.icon svg {
  width: 18px;
  height: 18px;
  fill: var(--black);
}

.icon:hover svg {
  fill: var(--medium-gray);
}

.header.scrolled {
  background-color: var(--black);
  color: var(--white);
  padding: 15px 60px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  top: auto;
  bottom: 20px;
  position: fixed;
  left: 50%;
  transform: translateX(-50%); 
  width: calc(100% - 110px); 
}

.header.hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.header.scrolled .menu a {
  color: var(--white);
}

.header.scrolled .menu a:hover {
  color: var(--black); 
  background-color: var(--light-gray);
}

.header.scrolled .icon svg {
  fill: var(--white);
}

.burger-socials {
  display: none;
}

/* Модальне вікно для корзинки */
.cart-modal {
  position: fixed;
  top: 10px;
  right: 20px;
  background-color: var(--white);
  color: var(--black);
  padding: 15px 20px;
  border: 1px solid black;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 9999;
  font-family: var(--main-font, sans-serif);
  font-size: 16px;
  line-height: 0.7;
  letter-spacing: 0.3px;
  font-weight: 600;
  display: none; 
  animation: fadeInOut 2s ease-in-out forwards;
}

.cart-modal p {
  margin: 0;
  font-family: var(--accent-font);
  text-decoration: none;
  color: var(--black);
  font-size: 15px;
  font-weight: 600;
  line-height: 1.5; 
  letter-spacing: 0.2px;
}

/* Анімація для плавного зникання */
@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  10% {
    opacity: 1;
    transform: translateY(0);
  }
  90% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-10px);
  }
}


.link-icon {
  cursor: pointer;
}


/* Стилі для секції hero */

.image-slider {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.slider-container {
  display: flex;
  width: 100%;
  transition: transform 0.7s ease-in-out; 
}

.slide {
  flex: 0 0 100%;
  width: 100%;
  position: relative;
}

.slide img {
  width: 100%;
  height: 799px;
  object-fit: cover;
  display: block;
}

@keyframes slide {
  0%, 33% { transform: translateX(0%); } 
  34%, 66% { transform: translateX(-100%); } 
  67%, 100% { transform: translateX(-200%); } 
}

.text-overlay {
  position: absolute;
  top: 60%;
  left: 20%;
  transform: translateY(-50%);
  color: var(--white);
  padding: 20px;
  border-radius: 10px;
}

.text-overlay h2 {
  font-family: var(--main-font);
  color: var(--white);
  font-size: 85px;
  font-weight: 800;
  line-height: 1.5;
  letter-spacing: 0.2px;
  opacity: 0.7;
}

.text-overlay p {
  margin-top: -30px;
  margin-left: 20px;
  font-family: var(--accent-font);
  color: var(--white);
  font-size: 25px;
  font-weight: 200;
  line-height: 1.5;
  letter-spacing: 0.2px;
} 

.fixed-vertical-button {
  position: fixed; 
  left: 0; 
  top: 55vh; 
  transform: rotate(-90deg); 
  transform-origin: left top; 
  background-color: var(--black); 
  color: var(--white); 
  border: none;
  padding: 15px 40px;
  font-family: var(--main-font);
  font-size: 20px;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 0.2px;
  border-radius: 5px;
  cursor: pointer;
  z-index: 1000; 
  word-wrap: break-word;
}

/* Стилі для секції з картками */

.card-section {
  margin: 80px 17px; 
  margin-bottom: 90px;
}

.section-p {
  font-family: var(--accent-font);
  text-decoration: none;
  color: var(--black);
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5; 
  letter-spacing: 0.2px;
  margin-left: 60px;
  margin-bottom: 20px;
}

.section-title {
  font-family: var(--main-font);
  font-size: 32px;
  font-weight: 700;
  color: var(--primary-color); 
  margin-bottom: 20px;
  text-align: left;
  margin-left: 60px;
  width: 400px;
}

.card-container {
  display: flex;
  justify-content: flex-start; 
  gap: 20px;
  padding: 0 40px; 
  margin-top: 40px;
}

.card {
  width: calc(25% - 5px);
  text-align: center;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  cursor: pointer;
  display: block;
}

.card-title {
  font-family: var(--main-font);
  font-size: 24px;
  font-weight: 800;
  position: absolute;
  top: 20px;
  left: 20px;
  margin: 0;
  color: var(--black);
  z-index: 2;
  transition: color 0.3s ease-in-out;
}

.card-img {
  width: 100%;
  height: auto;
  aspect-ratio: 3 / 4;
  object-fit: cover;
  border-radius: 5px;
  transition: filter 0.3s ease-in-out; 
}

.card::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -100%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  transition: bottom 0.3s ease-in-out;
  z-index: 1;
}

.card:hover::before {
  bottom: 0; 
}

.card:hover .card-img {
  filter: brightness(0.5); 
}

.card:hover .card-title {
  color: var(--light-gray); 
}

/* Секція логотипів */

.product-brands {
  margin-bottom: 90px;
  overflow: hidden; 
}

.product-logos {
  background-color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
}

.logos-container {
  display: flex;
  gap: 50px;
  animation: scroll 20s linear infinite;
}

.logo-img {
  width: 150px;
  opacity: 0.5; 
  background-color: rgba(255, 255, 255, 0.3);
}


@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* Секція новинок */

.new-products {
  padding: 90px 56px 110px;
  background-color: var(--light-gray);
  text-align: center;
}

.section-title {
  font-size: 28px;
  font-weight: 800;
}

.slider {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  max-width: 100%;
  margin: 0 auto;
}

.slider-wrapper {
  overflow: hidden;
  width: 90%;
}

.slider-track {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.product-card {
  position: relative;
  min-width: 100%;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  height: 500px;
}

.product-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background-color: rgba(0, 0, 0, 0.8);
  color: var(--white);
  padding: 30px;
  display: flex;
  justify-content: space-between; 
  align-items: flex-start;
  transition: background-color 0.3s ease-in-out;
}

.product-card:hover .product-info {
  background-color: transparent;
  color: var(--black); 
}

.product-title {
  font-family: var(--accent-font);
  text-decoration: none;
  color: var(--white);
  font-size: 22px;
  font-weight: 700;
  line-height: 1.5; 
  letter-spacing: 0.2px;
}

.product-price {
  font-family: var(--accent-font);
  text-decoration: none;
  color: var(--white);
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5; 
  letter-spacing: 0.2px;
}

.button-container {
  display: flex;
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 2;
}

.details-btn {
  background-color: var(--black);
  color: var(--white) !important;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  text-decoration: none !important;
  display: inline-block;
  text-align: center;
}

.details-btn,
.details-btn:link,
.details-btn:visited,
.details-btn:hover,
.details-btn:active,
.details-btn:focus {
  color: var(--white) !important;
  text-decoration: none !important;
}

.details-btn:hover {
  background-color: var(--black);
  color: var(--white);
}

.slider-btn {
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
}

.slider-btn svg {
  fill: var(--black);
  transition: fill 0.3s ease-in-out;
}

.slider-btn:hover svg {
  fill: var(--medium-gray);
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

/* Секція переваги */

.advantages-section-new {
  background-color: var(--black);
  padding-top: 50px;
  padding-bottom: 30px;
}

.section-p-new {
  font-family: var(--accent-font);
  text-decoration: none;
  color: var(--light-gray);
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5; 
  letter-spacing: 0.2px;
  margin-left: 70px;
  margin-bottom: 20px;
  margin-top: 30px;
}

.section-title-new {
  font-family: var(--main-font);
  font-size: 32px;
  font-weight: 700;
  color: var(--white); 
  margin-bottom: -20px;
  text-align: left;
  margin-left: 70px;
  width: 400px;
}

.card-container-new {
  display: flex;
  justify-content: flex-start; 
  gap: 20px;
  padding: 0 40px; 
  margin: 80px 17px;
}

.card-new {
  width: calc(25% - 5px);
  text-align: center;
  padding: 40px;
  background-color: var(--light-gray);
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, transform 0.3s;
  aspect-ratio: 3 / 4; 
  position: relative;
  overflow: hidden;
}

.card-title-new {
  font-family: var(--main-font);
  font-size: 24px;
  font-weight: 800;
  margin: 0;
  color: var(--dark-graphite);
  transition: color 0.3s ease-in-out;
  text-align: left;
}

.card-new::after {
  content: "";
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 20px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.card-new:hover::after {
  opacity: 1;
  transform: scale(1.2);
}

.card-new:nth-child(1)::after { content: "⭐"; } 
.card-new:nth-child(2)::after { content: "📦"; } 
.card-new:nth-child(3)::after { content: "💵"; } 
.card-new:nth-child(4)::after { content: "🤝"; } 

.card-desc-new {
  font-family: var(--main-font);
  font-size: 16px;
  font-weight: 400;
  color: var(--white);
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  position: absolute;
  top: 80%;
  bottom: 20px;
  left: 20px;
  right: 20px;
  text-align: left;
  width: 200px;
}

.card-new:hover {
  background-color: var(--black); 
  transform: translateY(-5px);
}

.card-new:hover .card-title-new {
  color: var(--white); 
}

.card-new:hover .card-desc-new {
  opacity: 1;
  transform: translateY(0);
}


/* Секція спеціальних пропозицій */
.special-offers {
  padding-right: 50px;
  padding-left: 50px;
  padding-top: 90px;
  background-color: var(--light-gray);
  text-align: center;
}

.special-section-title {
  font-size: 28px;
  font-weight: 800;
  background-color: var(--light-gray);
}

.special-slider {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  max-width: 100%;
  margin: 0 auto;
}

.special-slider-wrapper {
  overflow: hidden;
  width: 90%;
}

.special-slider-track {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.special-product-card {
  position: relative;
  min-width: 100%;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  height: 500px;
}

.special-product-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.special-product-info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background-color: rgba(0, 0, 0, 0.8);
  color: var(--white);
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  transition: background-color 0.3s ease-in-out;
}

.special-product-card:hover .special-product-info {
  background-color: transparent;
  color: var(--black);
}

.special-product-title {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 10px;
  color: var(--white);
}

.special-product-price {
  font-family: var(--accent-font);
  text-decoration: none;
  color: var(--white);
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.2px;
}

.special-button-container {
  display: flex;
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 2;
}

.special-details-btn {
  background-color: var(--black);
  color: var(--white);
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.special-details-btn:hover {
  background-color: var(--black);
  color: var(--white);
}

.special-slider-btn {
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
}

.special-slider-btn svg {
  fill: var(--black);
  transition: fill 0.3s ease-in-out;
}

.special-slider-btn:hover svg {
  fill: var(--medium-gray);
}

.special-prev {
  left: 0;
}

.special-next {
  right: 0;
}

/* Секція відгуків */
.reviews-section {
  padding: 120px 20px 140px;
  text-align: center;
  background-color: var(--light-gray);
  position: relative;
  height: 600px;
  overflow: hidden;
}

.reviews-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.center-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  word-wrap: break-word;
  padding: 0 20px;
  width: 300px;
}

.main-text {
  font-size: 28px;
  font-weight: bold;
  color: #333;
}

.review-card {
  width: 250px;
  padding: 25px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  position: absolute;
  transform: rotate(var(--rotation));
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.top-left { 
  top: 10%;
  left: 15%;
  --rotation: 10deg;
}
.top-right { 
  top: 10%;
  right: 15%;
  --rotation: -10deg;
}
.bottom-left { 
  bottom: 10%;
  left: 15%;
  --rotation: -10deg;
}
.bottom-right { 
  bottom: 10%;
  right: 15%;
  --rotation: 10deg;
}

.reviews-section:hover .review-card {
  animation: shake 0.8s infinite alternate ease-in-out;
}

@keyframes shake {
  0% {
    transform: rotate(var(--rotation)) translate(0, 0);
  }
  25% {
    transform: rotate(var(--rotation)) translate(-3px, 2px);
  }
  50% {
    transform: rotate(var(--rotation)) translate(3px, -2px);
  }
  75% {
    transform: rotate(var(--rotation)) translate(-2px, 1px);
  }
  100% {
    transform: rotate(var(--rotation)) translate(0, 0);
  }
}

.review-text {
  margin-bottom: 10px;
  font-family: var(--accent-font);
  text-decoration: none;
  color: var(--black);
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5; 
  letter-spacing: 0.2px;
}

.review-author {
  font-family: var(--main-font);
  font-size: 22px;
  font-weight: 700;
  color: var(--medium-gray);
}

/* Стилі для футера */
.footer {
  position: relative;
  background-color: var(--black); 
  color: var(--white);          
  padding: 100px 80px;
  font-family: var(--main-font);
  font-size: 24px;
  font-weight: 800;
  min-height: 200px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  gap: 20px;
  align-items: flex-start;
}

.footer-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
  align-items: flex-start;
  min-width: 200px;
  margin-top: -20px;
}

.footer-logo {
  font-size: 24px;
  margin-bottom: 20px;
  color: var(--white);
}

.footer-address {
  font-size: 14px;
  margin-bottom: 35px;
}

.footer-socials .social-icon {
  margin-right: 10px;
  gap: 30px;
  text-decoration: none;
}

.footer-socials svg {
  fill: var(--white)
}

.footer-socials svg:hover {
  fill: var(--medium-gray);
}

.footer-center {
  flex: 1;
  min-width: 200px;
}

.footer-menu {
  list-style: none;
  padding: 0;
  color: var(--white);
}

.footer-menu:hover {
  color: var(--medium-gray);
}

.footer-center h3 {
  font-family: var(--accent-font);
  text-decoration: none;
  color: var(--white);
  font-size: 22px;
  font-weight: 600;
  line-height: 1.5; 
  letter-spacing: 0.2px;
  margin-bottom: 20px;
}

.footer-menu li {
  margin-bottom: 3px;
}

.footer-menu a {
  font-family: var(--accent-font);
  text-decoration: none;
  color: var(--white);
  font-size: 15px;
  font-weight: 400;
  line-height: 1px; 
  letter-spacing: 0.2px;
}

.footer-right {
  flex: 1;
  min-width: 200px;
}

.footer-desc {
  font-family: var(--accent-font);
  text-decoration: none;
  color: var(--white);
  font-size: 22px;
  font-weight: 600;
  line-height: 1.2; 
  letter-spacing: 0.2px;
  margin-bottom: 30px;
}

.footer-cta {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--white);
  color: var(--black);
  text-decoration: none;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
}

.footer-cta:hover {
  background-color: var(--medium-gray);
  color: var(--white);
}


/* Модалка футер консультація */
.consultation-modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
}

.consultation-modal-content {
  background-color: var(--black);
  color: var(--white);
  padding: 30px;
  border-radius: 10px;
  width: 500px;
  text-align: center;
  position: relative;
}

.close-consultation-modal {
  position: absolute;
  top: 15px;
  right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--black) !important;
  cursor: pointer;
}

.close-consultation-modal svg {
  width: 15px;
  height: 15px;
  fill: var(--white);
  transition: fill 0.3s ease;
}

.close-consultation-modal:hover svg {
  fill: var(--medium-gray);
}

.consultation-modal-content form {
  display: flex;
  flex-direction: column;
}

.consultation-modal-content label {
  text-align: left;
  margin-top: 10px;
  font-family: var(--main-font);
  text-decoration: none;
  color: var(--white);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.2px;
}

.consultation-modal-content input,
.consultation-modal-content textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid var(--white);
  border-radius: 5px !important;
  background: transparent;
  color: var(--white);
}

.consultation-modal-content button {
  margin-top: 20px;
  padding: 10px;
  font-family: var(--main-font);
  text-decoration: none;
  color: var(--black);
  background-color: var(--white);
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0.2px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.consultation-modal-content button:hover {
  background-color: var(--medium-gray);
  color: var(--white);
}

/* Стилі модалки запитати */

.question-modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
}

.question-modal-content {
  background-color: var(--black);
  color: var(--white);
  padding: 30px;
  border-radius: 10px;
  width: 500px;
  text-align: center;
  position: relative;
}

.close-question-modal {
  position: absolute;
  top: 15px;
  right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--black) !important;
  cursor: pointer;
}

.close-question-modal svg {
  width: 15px;
  height: 15px;
  fill: var(--white);
  transition: fill 0.3s ease;
}

.close-question-modal:hover svg {
  fill: var(--medium-gray);
}

.question-modal-content form {
  display: flex;
  flex-direction: column;
}

.question-modal-content label {
  text-align: left;
  margin-top: 10px;
  font-family: var(--main-font);
  text-decoration: none;
  color: var(--white);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.2px;
}

.question-modal-content input,
.question-modal-content textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid var(--white);
  border-radius: 5px !important;
  background: transparent;
  color: var(--white);
}

.question-modal-content button {
  margin-top: 20px;
  padding: 10px;
  font-family: var(--main-font);
  text-decoration: none;
  color: var(--black);
  background-color: var(--white);
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0.2px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.question-modal-content button:hover {
  background-color: var(--medium-gray);
  color: var(--white);
}