 /* Загальні стилі */

:root {
  --main-font: "Source Sans 3", sans-serif;
  --accent-font: "Bebas Neue", sans-serif;
  --white: #FFFFFF;
  --black: #000000;
  --dark-graphite: #212529;
  --light-gray: #F8F9FA;
  --medium-gray: #DEE2E6;
  --accent-blue: #007BFF;
}

body {
  overflow-x: hidden;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body.cursor-hidden {
  cursor: none; 
}

main {
  flex-grow: 1;
}
  
h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}
  
a {
  text-decoration: none; 
  outline: none; 
  border: none;
}

ul, li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
  
.link {
  text-decoration: none; 
}
  
.link a {
  display: inline-block; 
}
  
.link a:focus, .link a:hover {
  outline: none; 
  color: inherit; 
}
  
img {
  display: block; 
}
  
.icon {
  fill: currentColor; 
}
  
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
  
.container {
  padding: 0; 
  margin: 0;
  width: auto;
}

/* Стилі для хедера */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white);
  padding: 25px 60px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: fixed; 
  width: 100%;
  top: 0; 
  left: 0;
  z-index: 1000;
  transition: all 0.3s ease-in-out; 
}

.logo {
  font-family: var(--main-font);
  font-size: 24px;
  font-weight: 800;
}

.menu {
  list-style: none;
  display: flex;
  gap: 10px;
  padding: 0;
  margin: 0;
}

.menu li {
  display: inline;
}

.menu a {
  font-family: var(--accent-font);
  text-decoration: none;
  color: var(--black);
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5; 
  letter-spacing: 0.2px;
  position: relative; 
  padding: 10px 15px; 
  transition: transform 0.3s ease, color 0.3s
}

.menu a::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--light-gray);
  border-radius: 5px; 
  transform: scaleY(0); 
  transform-origin: bottom;
  transition: transform 0.3s ease-in-out;
  z-index: -1;
}

.menu a:hover {
  color: var(--black); 
  background-color: var(--light-gray);
  transform: rotateX(15deg);
  border-radius: 5px;
}

.menu a:hover::before {
  transform: scaleY(1);
}

.icons {
  display: flex;
  gap: 20px;
}

.icon svg {
  width: 18px;
  height: 18px;
  fill: var(--black);
}

.icon:hover svg {
  fill: var(--medium-gray);
}

.header.scrolled {
  background-color: var(--black);
  color: var(--white);
  padding: 15px 60px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  top: auto;
  bottom: 20px;
  position: fixed;
  left: 50%;
  transform: translateX(-50%); 
  width: calc(100% - 110px); 
}

.header.scrolled .menu a {
  color: var(--white);
}

.header.scrolled .menu a:hover {
  color: var(--black); 
  background-color: var(--light-gray);
}

.header.scrolled .icon svg {
  fill: var(--white);
}

/* Стилі для секції hero */

.image-slider {
  width: 100%;
  overflow: hidden;
  position: relative;
  margin-bottom: 40px;
}

.slider-container {
  display: flex;
  width: 100%; 
  transition: transform 2s ease-in-out;
  animation: slide 9s infinite ease-in-out;
}

.slide {
  flex: 0 0 100%;
  width: 100%;
  position: relative;
}

.slide img {
  width: 100%;
  height: 730px;
  object-fit: cover;
}

@keyframes slide {
  0%, 33% { transform: translateX(0%); } 
  34%, 66% { transform: translateX(-100%); } 
  67%, 100% { transform: translateX(-200%); } 
}

.text-overlay {
  position: absolute;
  top: 60%;
  left: 30%;
  transform: translateY(-50%);
  color: var(--white);
  padding: 20px;
  border-radius: 10px;
}

.text-overlay h2 {
  font-family: var(--main-font);
  color: var(--white);
  font-size: 85px;
  font-weight: 800;
  line-height: 1.5;
  letter-spacing: 0.2px;
  opacity: 0.7;
}

.text-overlay p {
  margin-top: -10px;
  font-family: var(--accent-font);
  color: var(--white);
  font-size: 25px;
  font-weight: 200;
  line-height: 1.5;
  letter-spacing: 0.2px;
} 

.fixed-vertical-button {
  position: fixed; 
  left: 0; 
  top: 55vh; 
  transform: rotate(-90deg); 
  transform-origin: left top; 
  background-color: var(--black); 
  color: var(--white); 
  border: none;
  padding: 15px 40px;
  font-family: var(--main-font);
  font-size: 24px;
  font-weight: 800;
  border-radius: 5px;
  cursor: pointer;
  z-index: 1000; 
}

/* Стилі для секції з картками */

.card-section {
  margin: 80px 0px; 
  margin-bottom: 110px;
}

.section-p {
  font-family: var(--accent-font);
  text-decoration: none;
  color: var(--black);
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5; 
  letter-spacing: 0.2px;
  margin-left: 60px;
  margin-bottom: 20px;
}

.section-title {
  font-family: var(--main-font);
  font-size: 32px;
  font-weight: 700;
  color: var(--primary-color); 
  margin-bottom: 20px;
  text-align: left;
  margin-left: 60px;
  width: 400px;
}

.card-container {
  display: flex;
  justify-content: flex-start; 
  gap: 20px;
  padding: 0 40px; 
  margin-top: 40px;
}

.card {
  width: calc(25% - 5px);
  text-align: center;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}

.card-title {
  font-family: var(--main-font);
  font-size: 24px;
  font-weight: 800;
  position: absolute;
  top: 20px;
  left: 20px;
  margin: 0;
  color: var(--black);
  z-index: 2;
  transition: color 0.3s ease-in-out;
}

.card-img {
  width: 100%;
  height: auto;
  aspect-ratio: 3 / 4;
  object-fit: cover;
  border-radius: 5px;
  transition: filter 0.3s ease-in-out; 
}

.card::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -100%;
  width: 100%;
  height: 100%;
  background-color: var(--black); 
  transition: bottom 0.3s ease-in-out;
  z-index: 1;
}

.card:hover::before {
  bottom: 0; 
}

.card:hover .card-img {
  filter: brightness(0.5); 
}

.card:hover .card-title {
  color: var(--light-gray); 
}

/* Секція логотипів */

.product-brands {
  margin-bottom: 60px;
}

.product-logos {
  background-color: var(--white);
  padding: 0px 0px; 
  display: flex;
  justify-content: center;
}

.logos-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  width: 80%;
  max-width: 1200px;
}

.logo-img {
  width: 150px;
  position: relative;
  opacity: 0.5; 
  background-color: rgba(255, 255, 255, 0.3);
}

/* Секція новинок */

.new-products {
  padding: 50px 60px;
  background-color: var(--white);
  text-align: center;
}

.section-title {
  font-size: 28px;
  font-weight: 800;
  margin-bottom: 20px;
}

.slider {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  max-width: 100%;
  margin: 0 auto;
}

.slider-wrapper {
  overflow: hidden;
  width: 80%;
}

.slider-track {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.product-card {
  min-width: 100%;
  background-color: var(--white);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  height: 500px; 
}

.product-img {
  width: 100%;
  height: 50%;
  object-fit: cover;
}


.product-info {
  padding: 20px;
  text-align: left;
}

.product-title {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 10px;
}

.details-btn {
  background-color: var(--medium-gray);
  color: var(--black);
  border: none;
  padding: 10px 15px;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.details-btn:hover {
  background-color: var(--black);
  color: var(--white);
}

.slider-btn {
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
}

.slider-btn svg {
  fill: var(--black);
  transition: fill 0.3s ease-in-out;
}

.slider-btn:hover svg {
  fill: var(--medium-gray);
}

.prev {
  left: 0;
}

.next {
  right: 0;
}